.a {
  font-size: 150%;
  text-align: center;
  background-color: #F7A072;
}

.d {
  padding: 20px;
  background-color: #B5E2FA;
}

.virsus {
  background-color: #0FA3B1;
  padding: 20px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

.bloom {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 300%;
}

.f {
  padding-top: 20px;
}

.b {
  background-color: #F7A072;
  padding: 20px;
}

.z {
  text-align: center;
}

.c {
  font-family: "Permanent Marker", cursive;
  font-size: 200%;
  padding: 20px;
  background-color: #B5E2FA;
}

.g {
  padding: 20px;
  background-color: #F9F7F3;
}

.h {
  padding: 20px;
  float: left;
}

.i {
  background-color: #EDDEA4;
}

.footer {
  text-align: center;
  background-color: lightgrey;
}

.myg {
  margin-right: 20px;
}

.e {
  display: outline;
}
