$blue-green: #0FA3B1;
$blue-lagoon: #B5E2FA;
$white-smoke: #F9F7F3;
$golden: #EDDEA4;
$salmon: #F7A072;
$font1:'Permanent Marker', cursive;



.a {
	font-size: 150%;
	text-align: center;
	background-color: $salmon;
}

.d {
	padding: 20px;
	background-color: $blue-lagoon;
}

.virsus {
	background-color: $blue-green;
	padding: 20px;
	font-family: $font1;
	text-align: center;
}

.bloom {
	font-family: $font1;
	color: white;
	font-size: 300%; 
}

.f {
	padding-top: 20px;
}

.b {
	background-color: $salmon;
	padding: 20px;
}

.z {
	text-align:center;
}

.c {
	font-family: $font1;
	font-size: 200%; 
	padding: 20px;
	background-color: $blue-lagoon;
}

.g {
	padding	: 20px;
	background-color: $white-smoke;
}

.h {
	padding: 20px;
	float: left;
}

.i {
	background-color: $golden;
}

.footer {
	text-align: center;
	background-color: lightgrey;

}

.myg {
	margin-right: 20px;
}

.e {
	display: outline;
}